.info {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  margin: 16px 0px;
}

.info-bar {
}

.info-item {
}

.info-link {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  color: #666666;
  text-decoration: none;
  font-weight: 400;
}

.nav-background {
}

.nav-item {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  color: gray;
}

#nav {
    width: 100%;
    float: left;
    margin: 0 0 3em 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc; }
#nav li { float: left;}
#nav li a {
        display: block;
        padding: 8px 15px;
        text-decoration: none;
        font-weight: bold;
        color: #000;}
